/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family: Arial;
	font-size: 16px;
	color: #000000;
}

.table-border {
    border: 2px solid #000000;
}

img {
	border: 2px outset #15ce26;
}

#style {
    background-color: #f3d585;
}
